@charset "utf-8";

/* Common */
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
    margin: 0;
    padding: 0;
}
body,
input,
textarea,
select,
button,
table {
    font-size: 14px;
    line-height: normal;
    letter-spacing: -0.5px;
}
body {
    position: relative;
    -webkit-text-size-adjust: none;
    background-color: #eee;
}

body, div#root, html {
    height: 100%;
}